.calendar-container {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.days,
.dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day {
    font-weight: bold;
    text-align: center;
    padding: 5px 0;
}

.date {
    border: 1px solid #e0e0e0;
    min-height: 100px;
    position: relative;
    padding: 5px;
    overflow: hidden; /* Adicionado para evitar que os eventos saiam do limite */
}

.date-number {
    position: absolute;
    top: 5px;
    right: 5px;
}

.events {
    margin-top: 20px;
    font-size: 0.9em;
    background-color: #f9f9f9;
    padding: 5px;
    border-radius: 5px; /* Adicionado para dar um visual mais agradável */
    border: 1px solid #e0e0e0; /* Adicionado para delimitar os eventos */
}
